body {
    background-color: rgb(255, 255, 255);
}

button{
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(0, 0, 0);
}
  
  button span:nth-child(1) {
    color: rgb(0, 0, 0);
  }
  
  button span:nth-child(2) {
    color: rgb(0, 0, 0);
  }
  
  button span:nth-child(3) {
    color: rgb(0, 0, 0);
  }